{% extends "base.html" %}

{% block section %}

<h1>Movements list</h1>
{% if data %}
    <table role="grid">
        <thead>
            <tr>
                <th>Date</th>
                <th>Concept</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for movements in data %}
            <tr>
                <td>{{movements.date}}</td>
                <td>{{movements.concept}}</td>
                <td>{{movements.quantity}}€</td>
                <td>
                    <a href="/update/{{movements.id}}">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    <a href="/delete/{{movements.id}}">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% else %}
<h5>There is no movement data</h5>
{% endif %}
{% endblock %}